.home-container {
  text-align: center;
  margin-top: 50px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.register-btn, .login-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s ease;
}

.register-btn:hover, .login-btn:hover {
  background-color: #45a049;
}

.login-btn {
  background-color: #008CBA; /* Different color for the login button */
}

.login-btn:hover {
  background-color: #007bb5;
}
